.filter-container{  

    li{ 
        
        padding:5px;
    }

}
.selectSearchLimit,
.selectSearchRating,
.selectEndPoint{ 
    padding:5px;
	width: 200px;
}

.giphy-filter-container{
	label{
		
		width:65px;
		text-align:right;
	}
	
}